/* Reusable CSS variables */
:root {
  /* Base sizes */
  --size-xxs: calc(100vh * 2 / 1080); /* = 2px @ 1080p */
  --size-xs: calc(100vh * 4 / 1080); /* = 4px @ 1080p */
  --size-s: calc(100vh * 8 / 1080); /* = 8px @ 1080p */
  --size-m: calc(100vh * 16 / 1080); /* = 16px @ 1080p */
  --size-l: calc(100vh * 24 / 1080); /* = 24px @1080p */
  --size-xl: calc(100vh * 32 / 1080); /* = 32 px @ 1080p */
  --size-xxl: calc(100vh * (40 / 1080)); /* = 40 px @ 1080p*/
  --size-3xl: calc(100vh * 60 / 1080); /* = 60px @ 1080p */
  --size-4xl: calc(100vh * 90 / 1080); /* = 90px @ 1080p */

  /* Theme variables - colors */
  --theme-chat-box-bg: #970645dd;
  --theme-chat-strip-bg: rgba(0, 0, 0, 0.95);
  --theme-text-color: white;
  --theme-border-color: black;

  /* Theme variables - layout */
  --theme-chat-box-width: calc(100vw * 1 / 3 - var(--size-xxl));
  --theme-chat-box-height: 80vh;
  --theme-chat-strip-height: var(--size-xxl);

  /* Theme variables - style */
  --theme-font-family: Futura, sans-serif;
  --theme-border-radius: var(--size-xxl);
  --theme-border-width: 2px;
  --theme-username-border-width: var(--size-xxs);
}

/* Very basic HTML resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--theme-font-family);
  color: var(--theme-text-color);
}

body {
  height: 100vh;
  font-size: var(--size-l);
  padding: var(--size-xxl);
}

.pronouns {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.username {
  padding: 0 var(--size-s);
  border-radius: var(--size-xs);
  font-weight: 600;
}

.user-badge {
  border: 1px solid var(--theme-border-color);
  border-radius: var(--size-s);
  height: var(--size-xl);
  margin-right: var(--size-s);
}

/* Styling for chat box */
.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--theme-chat-box-width);
  height: var(--theme-chat-box-height);
  border-radius: var(--theme-border-radius);
  border: var(--theme-border-width) solid var(--theme-border-color);
  padding: var(--size-l);
  overflow: hidden;
  line-height: var(--size-xxl);
  background-color: var(--theme-chat-box-bg);
}

.chat-box .username {
  display: inline-flex;
  align-items: center;
  border: var(--theme-username-border-width) solid var(--theme-border-color);
}

.chat-box .message-text {
  display: block;
  margin-left: var(--size-s);
  margin-block-start: var(--size-xxs);
}

.chat-box .message.italic .message-text {
  display: inline;
  margin-left: 0;
}

.chat-box p {
  margin-top: var(--size-m);
}

.chat-box p img.emote {
  margin: calc(-1 * var(--size-l)) calc(-1 * var(--size-xs)) calc(-1 * var(--size-m)) calc(-1 * var(--size-xs));
  height: var(--size-xxl);
  vertical-align: middle;
}

.chat-box p img.emoji {
  margin-left: var(--size-xs);
  margin-right: var(--size-xs);
  margin-bottom: calc(-1 * var(--size-s));

  height: var(--size-xl);
}

/* Styling for chat strip */
.chat-strip {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--theme-chat-strip-height);
  padding-right: var(--size-s);
  display: flex;
  justify-content: flex-end;
  line-height: var(--size-xxl);
  white-space: nowrap;
  background-color: var(--theme-chat-strip-bg);
}

.chat-strip .username {
  display: inline-flex;
  align-items: center;
}

.chat-strip .user-badge {
  display: none;
}

.chat-strip .message-text {
  margin-left: var(--size-s);
}

.chat-strip p {
  display: flex;
  margin-left: var(--size-m);
}

.chat-strip p img.emote {
  height: var(--size-xxl);
  margin: 0 calc(-1 * var(--size-xs)) 0.3em calc(-1 * var(--size-xs));
  vertical-align: middle;
}

.chat-strip p img.emoji {
  margin-left: var(--size-xs);
  margin-right: var(--size-xs);
  margin-bottom: calc(-1 * var(--size-s));
  height: 1.5em;
}
